/* Your CSS goes here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#background{
	background-color: #b2e2ff;
	position: absolute;
	padding: 2% 0% 5% 0%;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	}

#header{
	background: linear-gradient(to bottom, #167793 0%,#125f77 90%,#125f77 100%);
	font-family: Merriweather;
	background-position: center;
	background-color: #f3f5f5;
 	-moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;	
    border-radius:5px 5px 0px 0px;
}

#header h1{
	color: #fff;
	font-weight: normal;
	padding: 5% 5% 0;
	margin:0;}

#header p{
	color: #b2e2ff;
	font-size: .75em;
	font-weight: 500;
	padding-left: 5%;
	padding-bottom: 5%;
	padding-top: 5px;
	margin:0;}

#container{
	width: 45%;
	margin: 0 auto;
	padding-bottom: 5%;
	position: center;
	background-color: #fff;
 	-moz-border-radius:5px;
    -webkit-border-radius:5px;	
    border-radius:5px;
}

#fieldsets-background{ 
	background-color: #fff;
	background-position: center;}

form{
	counter-reset: section;
}

section{
	counter-increment: section;
}

section:before{
  content: counter(section);
  float: left;
  margin: -15px -1.5em;
  font-family: Merriweather;
  font-size: 1em;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  background-color: #52a3d4;
  border-radius: 25px;
  padding: 10px 15px;
  border: solid #fff 5px;
}

fieldset{ 
	background-color: #fff;
	width: 90%;
	margin: 2.5em auto;
	position: center;
	border: none;
 	}

label{
	font-family: Open Sans;
	font-size: .75em;
	color: #444444;}

ul{
	background-color: #f3f5f5;
  	list-style: none;
  	padding: 5% 10%;
  	margin-top: initial;
  	-moz-border-radius:5px;
    -webkit-border-radius:5px;	
    border-radius:5px;
}

li{
	margin-bottom: 15px;
}

.expiration-date fieldset{
	background-color: #f3f5f5;
  	margin: 0;
  	padding: 0;
}

.expiration-date legend{
  	font-family: Open Sans;
	font-size: .75em;
	color: #444444;
}



.field-wrapper{
	margin: 0;
	clear: both;
	position: relative;
}

.field-wrapper input{
	width:60%;
	display: inline-block;
	position: relative;
}

.domain-add-on{
	width: 35%;
	display: inline-block;
	position: absolute;
	text-align: center;
	background-color: #fafafa;
	border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border: 0px;
	padding: 9px;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1);
	box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1)
}

.domain-add-on label{
	color:#888;
}

.domain-input input{
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border: 0px;
}

.button{ 
	background: linear-gradient(to bottom, #90a933 0%,#7d9b32 90%,#7d9b32 100%);
	margin: 0 auto;
	display: block;
	padding: 10px 20px;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;	
    border-radius:4px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: .9em;
    border: none;
    color: #fff;
    cursor:pointer;
    webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    transition: all 0.3s ease 0s;
	}

	.button:hover{ 
	background: linear-gradient(to bottom, #8bb538 0%,#789b31 50%,#7d9b32 100%,#789b31 100%);
	margin: 0 auto;
	display: block;
	padding: 12px 20px;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;	
    border-radius:4px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: .9em;
    border: solid 1px #74893D;
    color: #fff;
    cursor: pointer;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(189,189,189,1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(189,189,189,1);
	box-shadow: 0px 1px 1px 1px rgba(189,189,189,1);
    webkit-transition: all 0.3s;
    moz-transition: all 0.3s;
    transition: all 0.3s;
	}

.field{ 
	width:95%;
	border-radius: 4px;
	padding:10px;
	display: block;
	font-family: Open Sans;
	border: 0;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1);
	box-shadow: inset 0px 1px 2px 0px rgba(191,191,191,1);
	background:#fff url('../images/v_sprite.png') no-repeat 311px -50px;
	}

:required:focus:invalid{
	background:#fff url('../images/v_sprite.png') no-repeat 311px -23px;
	webkit-transition: all 0.3s ease 0s;
    moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

:required:focus:valid{
	background:#fff url('../images/v_sprite.png') no-repeat 311px 7px;
	display:inline-block;
	webkit-transition: all 0.3s ease 0s;
    moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

:required:valid{
	background:#fff url('../images/v_sprite.png') no-repeat 311px 7px;
	display:inline-block;
	webkit-transition: all 0.3s ease 0s;
    moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.note{
	font-size: .5em;
	color: #888888;}

.legend{
	color: #0a5e78;
	font-family: Merriweather;
	font-weight: 500;
	font-size: 1em;
	text-align: left;
}

.cc, .code{
	display: inline-block;
}

.cc-number{
	width:44%;
	margin:0;
	display: inline-block;
}

.codeNumber{
	width:30%;
	margin:0;
	display: inline-block;
}

.cc label, .code label{
	display: inline-block;
}

input[type="radio"]{
	border: 0; 
  	clip: rect(0 0 0 0); 
  	height: 1px; margin: -1px; 
  	overflow: hidden; 
  	padding: 0; 
  	position: absolute; 
  	width: 1px;
}

input#amex:checked + label{
	background: url('../images/sprite.png') no-repeat 0px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#amex:not(:checked) + label{
	background: url('../images/sprite.png') no-repeat -1px -40px;
	height:32px;
	width:45px;
	text-indent: -9999px;
}

input#amex:not(:checked) + label:hover{
	background: url('../images/sprite.png') no-repeat 0px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#visa:checked + label{
	background: url('../images/sprite.png') no-repeat -48px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#visa:not(:checked) + label{
	background: url('../images/sprite.png') no-repeat -48px -40px;
	height:32px;
	width:45px;
	text-indent: -9999px;
}

input#visa:not(:checked) + label:hover{
	background: url('../images/sprite.png') no-repeat -48px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#discover:checked + label{
	background: url('../images/sprite.png') no-repeat -96px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#discover:not(:checked) + label{
	background: url('../images/sprite.png') no-repeat -96px -40px;
	height:32px;
	width:45px;
	text-indent: -9999px;
}

input#discover:not(:checked) + label:hover{
	background: url('../images/sprite.png') no-repeat -96px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#mc:checked + label{
	background: url('../images/sprite.png') no-repeat -144px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#mc:not(:checked) + label{
	background: url('../images/sprite.png') no-repeat -144px -40px;
	height:32px;
	width:45px;
	text-indent: -9999px;
}

input#mc:not(:checked) + label:hover{
	background: url('../images/sprite.png') no-repeat -144px 0px;
	height:30px;
	width:45px;
	text-indent: -9999px;
}

input#csv:not(:checked) + label{
	background: url('../images/sprite.png') no-repeat 0px -124px;
	height:32px;
	width:62px;
	text-indent: -9999px;
}

select{
	background: linear-gradient(to bottom, #ffffff 0%,#eaeeee 40%,#eaeeee 40%,#eaeeee 100%);
	font-family: Open Sans;
	font-size: .75em;
	color: #444444;
	padding: 10px;
	margin: 1em .25em;
	border: 1px solid #fff;
	box-shadow: 0px 0px 1px 1px rgba(208,210,210,.7);
}
